@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.slide{
    padding-top: 4vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .slide__swirl-l{
        position: absolute;
        bottom: -100%;
        transition: 2s ease;
    }
    .container{
        min-width: 80rem;
        margin-right: 4rem;
        position: relative;
        transition: 1s ease;
    }
    .header{
        width: 100%;
        .header__descr{
            width: 37rem;
            font-family: 'Nunito', sans-serif;
            font-size: 1.3rem;
            font-style: normal;
            line-height: 101%;
        }
        .header__logo{
            @include bg;
            min-height: 4.5rem;
            min-width: 4.5rem;
        }
    }
    .slide__swirl-r{
        position: absolute;
        top: 10.5rem;
        right: 3rem;
        width: 47rem;
        z-index: 1;
        animation: spin 7s linear 0s infinite;
    }
    .slide__pic{
        position: absolute;
        top: 11rem;
        width: 65rem;
        z-index: 3;
    }
    .slide__wrapper{
        width: 56rem;
        position: relative;
        z-index: 2;
        transition: all 0.5s ease;
        
        
    }
    .slide__title{
        margin-top: 34vh;
        width: 37rem;
        font-family: 'Syncopate';
        font-size: 8rem;
        line-height: normal;
        text-transform: uppercase;
    }
    .slide__descr{
        font-size: 1.8rem;
        line-height: 115%;
        width: 47rem;
        margin-top: 4vh;
        margin-right: 0;
        margin-left: auto;
    }
    .slide__link{
        color: #FFF;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 115%;
        text-transform: uppercase;
        @include bg;
        margin-top: 8vh;
    }
    .slide__link::before{
        content: '';
        display: inline-block;
        @include bg;
        width: 2rem;
        height: 2rem;
        margin-right: 1.2rem;
    }
    .footer{
        color: #B9B9B9;
        margin-top: 8vh;
        font-size: 1rem;
    }
}

