<div class="slide slide-@@num flex --just-@@justify @@startSlide">
    <div class="slide__swirl-l --svg__swirl-l-@@num"></div>
    <div class="container">
        <header class="header flex --just-space --align-center @@startHeader">
            <div class="header__descr @@startHeaderDescr">
                Проект VIRTPROFIT работает в приватном режиме. <br class="show">
                Советуем ознакомиться с другими нашими проектами:
            </div>
            <div class="header__logo @@header-logo @@startHeaderLogo"></div>
        </header>
        <img src="img/@@service/@@service-pic.webp" alt="@@title" class="slide__pic slide__pic-@@num @@startPic">

        @@include('../../svg-swirl-r/swirl-r-@@num/swirl-r-@@num.html')

        <div class="slide__wrapper">
            <h1 class="slide__title">@@title</h1>
            <div class="slide__descr">@@descr</div>
            <a href="#" class="slide__link --svg__link-icon-before flex --align-center">на сайт проекта</a>
            <footer class="footer">Copyright 2022-2023. ООО "Интернетвеб"</footer>
        </div>
    </div>
</div>