<div class="slide slide-@@num flex --just-@@justify">
    <!-- <div class="slide__swirl-l --svg__swirl-l-@@num"></div> -->
    <div class="container">
        <header class="header flex --just-space --align-center">
            <div class="header__descr">
                Проект VIRTPROFIT работает в приватном режиме.
                Советуем ознакомиться с другими нашими проектами:
            </div>
            <div class="header__logo @@header-logo"></div>
        </header>
        <!-- <img src="img/@@service/@@service-pic.webp" alt="@@title" class="slide__pic slide__pic-@@num"> -->

        @@include('../../svg-swirl-r/swirl-r-@@num/swirl-r-@@num.html')

        <div class="slide__wrapper">
            <h1 class="slide__title">@@title</h1>
            <div class="slide__descr">
                Монетизация трафика с помощью <br> 
                1-click, pin-submit, etc. <br>
                После регистрации назови менеджеру тайное слово
                "Дайпять" и получи +5% к ребилльной ставке на целый месяц!
            </div>
            <a href="#" class="slide__link --svg__link-icon-before flex --align-center">на сайт проекта</a>
            <footer class="footer">Copyright 2022-2023. ООО "Интернетвеб"</footer>
        </div>
    </div>
</div>