@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Syncopate&display=swap');



.main{
    display: grid;
    transition: 1s;
    // 1 слайд
    // grid-template-columns: 2fr 0.2fr 0.2fr 0.2fr 1fr;
    // 2 слайд
    grid-template-columns: 0.75fr 2fr 0.2fr 0.2fr 1fr;
    // 3 слайд
    // grid-template-columns: 0.75fr 0.2fr 2fr 0.2fr 1fr;
    // 4 слайд
    // grid-template-columns: 0.75fr 0.2fr 0.2fr 2fr 1fr; 
    // 5 слайд
    // grid-template-columns: 0.35fr .15fr .15fr .15fr 2fr; 
    .slide{
        transition: 300ms;
    }
    .slide-1{
        background: linear-gradient(180deg, #00D1FF 0%, #003071 100%);
        .--svg__swirl-l-1{
            left: -9rem;
            width: 59rem;
            height: 59rem;
            @include bg;
        }
        .slide__pic-1{
            top: 9vh;
            right: -8rem;
            transition: 1s ease;
        }
        #swirl-r-1{
            position: absolute;
            width: 50rem;
            right: -1rem;
            top: 6rem;
            transform: rotate(176deg);
        }
        .container{
            min-width: 60rem;
        }
    }
    .slide-1:hover{
        .--svg__swirl-l-1{
            transform: translateY(-137vh) rotate(69deg);
        }
    }


    .slide-2, .slide-3{
        .slide__wrapper{
            width: 45rem;
        }
        .slide__descr{
            width: 35rem;
        }
    }


    .slide-2{
        background: linear-gradient(180deg, #FF00D6 0%, #540647 100%);
        .--svg__swirl-l-2{
            left: -32rem;
            width: 50rem;
            height: 50rem;
            @include bg;
        }
        .slide__pic-2{
            top: 7vh;
            width: 53rem;
            right: 8rem;
            
        }
        .slide__swirl-r-2{
            top: 15.5vh;
            right: 2rem;
            width: 50rem;
        }
    }
    .slide-2:hover{
        .--svg__swirl-l-2{
            transform: translateY(-123vh);
        }
    }
    

    .slide-3{
        background: linear-gradient(180deg, #00E817 0%, #0C5464 100%);
        .--svg__swirl-l-3{
            left: -28rem;
            width: 61rem;
            height: 61rem;
            @include bg;
        }
        .slide__pic-3{
            top: 10vh;
            width: 60rem;
            right: -6rem;
        }
        .slide__swirl-r-3{
            top: 13.5vh;
            right: -1rem;
            width: 44rem;
        }
    }
    .slide-3:hover{
        .--svg__swirl-l-3{
            transform: translateY(-131vh);
        }
    }
    

    .slide-4{
        background: linear-gradient(180deg, #FFF500 0%, #CF750B 100%);
        .--svg__swirl-l-4{
            left: -26rem;
            width: 63rem;
            height: 63rem;
            @include bg;
        }
        .slide__pic-4{
            top: 17vh;
            width: 65rem;
            right: 5rem;
        }
        .slide__swirl-r-4{
            top: 11.5vh;
            right: -1rem;
            width: 50rem;
        }
    }
    .slide-4:hover{
        .--svg__swirl-l-4{
            transform: translateY(-139vh);
        }
    }
    

    .slide-5{
        padding-left: 10rem;
        padding-right: 43rem;
        background: linear-gradient(180deg, #6A6A6A 0%, #1F1F1F 100%);
        transition: 1s ease;
        .--svg__swirl-l-5{
            left: -26rem;
            width: 65rem;  
            height: 65rem;
            @include bg;
        }
        .slide__pic-5{
            top: 5vh;
            width: 70rem;
            right: -6rem;
        }
        .slide__swirl-r-5{
            top: 10.5vh;
            right: -5rem;
            width: 46rem;
        }
    }
    .slide-5:hover{
        .--svg__swirl-l-5{
            transform: translateY(-120vh);
        }
    }
    
}

// .main:has(.slide-1:hover){
//     grid-template-columns: 2fr 0.2fr 0.2fr 0.2fr 1fr;
// }

// .main:has(.slide-2:hover){
//     grid-template-columns: 0.75fr 2fr 0.2fr 0.2fr 1fr;
// }

// .main:has(.slide-3:hover){
//     grid-template-columns: 0.75fr 0.2fr 2fr 0.2fr 1fr;
// }

// .main:has(.slide-4:hover){
//     grid-template-columns: 0.75fr 0.2fr 0.2fr 2fr 1fr;
// }

// .main:has(.slide-5:hover){
//     grid-template-columns: 0.35fr .15fr .15fr .15fr 2fr;
// }


