// @keyframes changeColorSwirl21 {
//     0%, 100% {
//         stop-color: #c50092;
//     }
//     50% {
//         stop-color: #d96cbc;

//     }
// }

// @keyframes changeColorSwirl22 {
//     0%, 100% {
//         stop-color: #d96cbc;
//     }
//     50% {
//         stop-color: #c50092;

//     }
// }


// #b2 stop:nth-child(1),
// #c2 stop:nth-child(1),
// #d2 stop:nth-child(1),
// #e2 stop:nth-child(1),
// #f2 stop:nth-child(1),
// #a2 stop:nth-child(1),
// #g2 stop:nth-child(1),
// #h2 stop:nth-child(1),
// #i2 stop:nth-child(1),
// #j2 stop:nth-child(1),
// #k2 stop:nth-child(1),
// #l2 stop:nth-child(1),
// #m2 stop:nth-child(1),
// #n2 stop:nth-child(1),
// #o2 stop:nth-child(1),
// #p2 stop:nth-child(1),
// #q2 stop:nth-child(1),
// #r2 stop:nth-child(1),
// #s2 stop:nth-child(1),
// #t2 stop:nth-child(1),
// #u2 stop:nth-child(1)
// {
//     animation: changeColorSwirl21 2s linear alternate infinite both ;
// }

// #c2 stop:nth-child(1){animation-delay: 0.25s;}
// #d2 stop:nth-child(1){animation-delay: 0.5s;}
// #e2 stop:nth-child(1){animation-delay: 0.75s;}
// #f2 stop:nth-child(1){animation-delay: 1s;}
// #a2 stop:nth-child(1){animation-delay: 1.25s;}
// #g2 stop:nth-child(1){animation-delay: 1.5s;}
// #h2 stop:nth-child(1){animation-delay: 1.75s;}
// #i2 stop:nth-child(1){animation-delay: 2s;}
// #j2 stop:nth-child(1){animation-delay: 2.25s;}
// #k2 stop:nth-child(1){animation-delay: 2.5s;}
// #l2 stop:nth-child(1){animation-delay: 2.75s;}
// #m2 stop:nth-child(1){animation-delay: 3s;}
// #n2 stop:nth-child(1){animation-delay: 3.25s;}
// #o2 stop:nth-child(1){animation-delay: 3.5s;}
// #p2 stop:nth-child(1){animation-delay: 3.75s;}
// #q2 stop:nth-child(1){animation-delay: 4s;}
// #r2 stop:nth-child(1){animation-delay: 4.25s;}
// #s2 stop:nth-child(1){animation-delay: 4.5s;}
// #t2 stop:nth-child(1){animation-delay: 4.75s;}
// #u2 stop:nth-child(1){animation-delay: 5s;}

// #b2 stop:nth-child(2),
// #c2 stop:nth-child(2),
// #d2 stop:nth-child(2),
// #e2 stop:nth-child(2),
// #f2 stop:nth-child(2),
// #a2 stop:nth-child(2),
// #g2 stop:nth-child(2),
// #h2 stop:nth-child(2),
// #i2 stop:nth-child(2),
// #j2 stop:nth-child(2),
// #k2 stop:nth-child(2),
// #l2 stop:nth-child(2),
// #m2 stop:nth-child(2),
// #n2 stop:nth-child(2),
// #o2 stop:nth-child(2),
// #p2 stop:nth-child(2),
// #q2 stop:nth-child(2),
// #r2 stop:nth-child(2),
// #s2 stop:nth-child(2),
// #t2 stop:nth-child(2),
// #u2 stop:nth-child(2)
// {
//     animation: changeColorSwirl22 2s linear alternate infinite both ;
// }

// #c2 stop:nth-child(2){animation-delay: 0.25s;}
// #d2 stop:nth-child(2){animation-delay: 0.5s;}
// #e2 stop:nth-child(2){animation-delay: 0.75s;}
// #f2 stop:nth-child(2){animation-delay: 1s;}
// #a2 stop:nth-child(2){animation-delay: 1.25s;}
// #g2 stop:nth-child(2){animation-delay: 1.5s;}
// #h2 stop:nth-child(2){animation-delay: 1.75s;}
// #i2 stop:nth-child(2){animation-delay: 2s;}
// #j2 stop:nth-child(2){animation-delay: 2.25s;}
// #k2 stop:nth-child(2){animation-delay: 2.5s;}
// #l2 stop:nth-child(2){animation-delay: 2.75s;}
// #m2 stop:nth-child(2){animation-delay: 3s;}
// #n2 stop:nth-child(2){animation-delay: 3.25s;}
// #o2 stop:nth-child(2){animation-delay: 3.5s;}
// #p2 stop:nth-child(2){animation-delay: 3.75s;}
// #q2 stop:nth-child(2){animation-delay: 4s;}
// #r2 stop:nth-child(2){animation-delay: 4.25s;}
// #s2 stop:nth-child(2){animation-delay: 4.5s;}
// #t2 stop:nth-child(2){animation-delay: 4.75s;}
// #u2 stop:nth-child(2){animation-delay: 5s;}


// @keyframes gradientRotation1 {
//     0% {
//       stop-color: #c50092;
//     }
//     50% {
//       stop-color: #fff;
//     }
//     100% {
//       stop-color: #c50092;
//     }
//   }

//   @keyframes gradientRotation2 {
//     0% {
//       stop-color: #fff;
//     }
//     50% {
//       stop-color: #c50092;
//     }
//     100% {
//       stop-color: #fff;
//     }
//   }
  
//   #b2 stop:nth-child(1) {
//     animation: gradientRotation1 5s linear infinite;
//   }
  
//   #b2 stop:nth-child(2) {
//     animation: gradientRotation2 5s linear infinite 2.5s;
//   }

// #b2 stop:nth-child(1),
// #c2 stop:nth-child(1),
// #d2 stop:nth-child(1),
// #e2 stop:nth-child(1),
// #f2 stop:nth-child(1),
// #g2 stop:nth-child(1),
// #h2 stop:nth-child(1),
// #i2 stop:nth-child(1),
// #j2 stop:nth-child(1),
// #k2 stop:nth-child(1),
// #l2 stop:nth-child(1),
// #m2 stop:nth-child(1),
// #n2 stop:nth-child(1),
// #o2 stop:nth-child(1),
// #p2 stop:nth-child(1),
// #q2 stop:nth-child(1),
// #r2 stop:nth-child(1),
// #s2 stop:nth-child(1),
// #t2 stop:nth-child(1),
// #u2 stop:nth-child(1),
// #a2 stop:nth-child(1)
// {
//     animation: gradientRotation1 2s linear infinite;
// }

// #c2 stop:nth-child(1){animation-delay: 0.25s;}
// #d2 stop:nth-child(1){animation-delay: 0.5s;}
// #e2 stop:nth-child(1){animation-delay: 0.75s;}
// #f2 stop:nth-child(1){animation-delay: 1s;}
// #g2 stop:nth-child(1){animation-delay: 1.25s;}
// #h2 stop:nth-child(1){animation-delay: 1.5s;}
// #i2 stop:nth-child(1){animation-delay: 1.75s;}
// #j2 stop:nth-child(1){animation-delay: 2s;}
// #k2 stop:nth-child(1){animation-delay: 2.25s;}
// #l2 stop:nth-child(1){animation-delay: 2.5s;}
// #m2 stop:nth-child(1){animation-delay: 2.75s;}
// #n2 stop:nth-child(1){animation-delay: 3s;}
// #o2 stop:nth-child(1){animation-delay: 3.25s;}
// #p2 stop:nth-child(1){animation-delay: 3.5s;}
// #q2 stop:nth-child(1){animation-delay: 3.75s;}
// #r2 stop:nth-child(1){animation-delay: 4s;}
// #s2 stop:nth-child(1){animation-delay: 4.25s;}
// #t2 stop:nth-child(1){animation-delay: 4.5s;}
// #u2 stop:nth-child(1){animation-delay: 4.75s;}
// #a2 stop:nth-child(1){animation-delay: 5s;}

// #b2 stop:nth-child(2),
// #c2 stop:nth-child(2),
// #d2 stop:nth-child(2),
// #e2 stop:nth-child(2),
// #f2 stop:nth-child(2),
// #g2 stop:nth-child(2),
// #h2 stop:nth-child(2),
// #i2 stop:nth-child(2),
// #j2 stop:nth-child(2),
// #k2 stop:nth-child(2),
// #l2 stop:nth-child(2),
// #m2 stop:nth-child(2),
// #n2 stop:nth-child(2),
// #o2 stop:nth-child(2),
// #p2 stop:nth-child(2),
// #q2 stop:nth-child(2),
// #r2 stop:nth-child(2),
// #s2 stop:nth-child(2),
// #t2 stop:nth-child(2),
// #u2 stop:nth-child(2),
// #a2 stop:nth-child(2)
// {
//     animation: gradientRotation2 2s linear infinite;
// }

// #c2 stop:nth-child(2){animation-delay: 0.25s;}
// #d2 stop:nth-child(2){animation-delay: 0.5s;}
// #e2 stop:nth-child(2){animation-delay: 0.75s;}
// #f2 stop:nth-child(2){animation-delay: 1s;}
// #g2 stop:nth-child(2){animation-delay: 1.25s;}
// #h2 stop:nth-child(2){animation-delay: 1.5s;}
// #i2 stop:nth-child(2){animation-delay: 1.75s;}
// #j2 stop:nth-child(2){animation-delay: 2s;}
// #k2 stop:nth-child(2){animation-delay: 2.25s;}
// #l2 stop:nth-child(2){animation-delay: 2.5s;}
// #m2 stop:nth-child(2){animation-delay: 2.75s;}
// #n2 stop:nth-child(2){animation-delay: 3s;}
// #o2 stop:nth-child(2){animation-delay: 3.25s;}
// #p2 stop:nth-child(2){animation-delay: 3.5s;}
// #q2 stop:nth-child(2){animation-delay: 3.75s;}
// #r2 stop:nth-child(2){animation-delay: 4s;}
// #s2 stop:nth-child(2){animation-delay: 4.25s;}
// #t2 stop:nth-child(2){animation-delay: 4.5s;}
// #u2 stop:nth-child(2){animation-delay: 4.75s;}
// #a2 stop:nth-child(2){animation-delay: 5s;}

